.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    // z-index: 1000;
}


.modal {
    background-color: #ebebeb;
    width: 80%;
    height: 500px;
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

.modal-header {
    background-color: #2c7d59;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header, .modal-footer {
    padding: 10px 15px;
    border-bottom: 1px solid #b0b0b0;
}

.modal-header h2, .modal-footer p {
    margin: 0;
    color: #ebebeb;
}

.modal ul{
    display: flex;
    flex-direction: column;
}

.modal-close, .remove-all {
    color: black;
    background-color: #d84a4a;
}

.modal-close:hover, .remove-all:hover {
    background-color: red;
}

ul {
    padding: 15px;
}


.show-modal {
    visibility: visible;
    opacity: 1;
}


.modal ul li {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #b0b0b0;
    width: 100%;
    height: 20%;
}
.modal ul li img {
    background-color: #b0b0b0;
    width: 30%;
    padding: 20px;
    
}

.modal ul li h3 {
    font-size: 13px;
    margin-bottom: 20px;
    flex-grow: 1;
    padding-left: 5px; 
}

.modal ul li button {
    background-color: #b0b0b0;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 3px 6px;
    cursor: pointer;
    font-size: 10px; 
    transition: background-color 0.2s;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.modal-footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;

    p{
        color: #828282;
    }
}

.modal-footer button{
    background-color: #b0b0b0;
    font-size: 1.1rem;
    margin: 10px 0;
    padding: 20px 0;
    width: 100%;
}



.modal-container {
    overflow-y: auto;
}

.modal {
    box-sizing: border-box; 
    max-height: 90vh;
    overflow-y: auto; 
}

@media (max-width: 768px) {
    .modal {
        width: 90%; 
    }
}

@media (max-width: 480px) {
    .modal {
        width: 95%; 
    }
}

