*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: rgb(217, 214, 214);
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
}

input, select, textarea{
    background: transparent;
}